<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico">
    <title>search gender</title>  
    <!-- 引入Vue -->
    <script type="text/javascript" src="js/vue.js"></script> 
</head>

<body>
<!-- prepare a div -->
    <div id="root">
        <h2>person list</h2> 
        Search with Name
        <input type="text" placeholder="pleace input the name" v-model="keyword">
      <ul>
        <li v-for="person in FilPersonsName" :key="person.id">
            {{person.name}}-{{person.class}}-{{person.gender}}
        </li> 
      </ul>
      <hr>

      Search with class
        <input type="text" placeholder="pleace input the class" v-model="classname">
      <ul>
        <li v-for="person in FilPersonsClass" :key="person.id">
            {{person.class}}:{{person.name}}-{{person.gender}}
        </li> 
      </ul>
      <hr>

      Search with gender
        <input type="text" placeholder="pleace input the gender" v-model="genderinfo">
      <ul>
        <li v-for="person in FilPersonsGender" :key="person.id">
            {{person.gender}}: {{person.name}}-{{person.class}}
        </li> 
      </ul>
    </div>  

</body>
<!-- 设置为 false 以阻止 vue 在启动时生成生产提示。 -->
<script type="text/javascript">
    Vue.config.productionTip=false 
/* 创建Vue实例 */     


// with computed
    new Vue({
        el:'#root',
        data:{
            persons:[
                {id:'001',name:'Lily Benth', gender:'girl', class:'4' },
                {id:'002',name:'Alexia Lee', gender:'girl',class:'4'},
                {id:'003',name:'Tom Bilett', gender:'boy',class:'1'},
                {id:'004',name:'Christian Meylor', gender:'boy',class:'1'},
                {id:'005',name:'Christian Meylor', gender:'boy',class:'2'},
                {id:'006',name:'John Lee', gender:'boy',class:'2'},

            ],
            keyword:'',
            classname:'',
            genderinfo:''
        },
        computed:{
            FilPersonsName(){
                return this.persons.filter(
                    (person)=>{
                        return person.name.indexOf(this.keyword)!== -1

                })
            },
            FilPersonsClass(){
                return this.persons.filter(
                    (person)=>{
                        return person.class.indexOf(this.classname)!== -1

                })
            },
            FilPersonsGender(){
                return this.persons.filter(
                    (person)=>{
                        return person.gender.indexOf(this.genderinfo)!== -1

                })
            }
        }
    }) 
</script>
</html>