<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico">
    <title>search gender</title>  
    <style>
/* add CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#searchbox {
    margin: auto;
    width: 60%;
    border: 1px solid #73AD21;
}
#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 12px 10px;
  border-radius: 20px;
 
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#search-results {
    padding:  0 0 12px px ;
}
#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}        
    </style>
    <!-- 引入Vue -->
    <script type="text/javascript" src="js/vue.js"></script> 
</head>

<body>
<!-- prepare a div -->
    <div id="root">
        <h1>Search bar & filter</h1> 
        <img src="img/searchname.png" alt="demo-img-search" width="400" height="400">
<!-- Search with Name,keyword inside the name -->        
        <div id="searchbox">
            
            <input type="text" placeholder="pleace input the name" id="myInput" v-model="keyword" title="Type in a name">
            <ul id="myUL">
                <div id="search-results">Search results:</div>
                
                <li v-for="person in FilPersonsName" :key="person.id"> 
                    <a href="#">{{person.name}}-{{person.class}}-{{person.gender}}</a>
                </li> 
            </ul>
            <hr>
        </div>
<!-- Search with first name, only show same first Letter, not case sensitive -->       
      <div>
        <h5>Search with first name, only show same first Letter, not case sensitive</h5>
        <input type="text" placeholder="pleace input the name, not case sensitive" v-model="keywordCase">
        <ul>
            <li v-for="person in FilPersonsNameInit" :key="person.id">
            {{person.name}}-{{person.class}}-{{person.gender}}
            </li> 
        </ul>
        <hr>
      </div>
<!-- Search with first name or last name or nickname, not case sensitive -->
      
      <div>
        <h5>Search with first name or last name or nickname, not case sensitive</h5>
        <input type="text" placeholder="firstname, nickname or lastname, not case sensitive" v-model="Searchword">
        <ul>
            <li v-for="student in FilStudentsAllName" :key="student.id">
            {{student.firstname}}-{{student.lastname}}-{{student.nickname}}-{{student.class}}-{{student.gender}}
            </li> 
        </ul>
        <hr>
      </div>   
<!-- Search with class -->
        <div>
            <h5>Search with class</h5>
            <input type="text" placeholder="pleace input the class" v-model="classname">
            <ul>
                <li v-for="person in FilPersonsClass" :key="person.id">
                {{person.class}}:{{person.name}}-{{person.gender}}
                </li> 
            </ul>
            <hr>
        </div>    
<!-- Search with gender -->
        <div>
            <h5>Search with gender</h5>
            <input type="text" placeholder="input the gender" v-model="genderinfo">
            <ul>
                <li v-for="person in FilPersonsGender" :key="person.id">
                    {{person.gender}}: {{person.name}}-{{person.class}}
                </li> 
            </ul>
        </div>    
    </div>  
</body>
<!-- 设置为 false 以阻止 vue 在启动时生成生产提示。 -->
<script type="text/javascript">
    Vue.config.productionTip=false 
/* 创建Vue实例 */     

// with computed
    new Vue({
        el:'#root',
        data:{
            persons:[
                {id:'001',name:'Lily Benth', gender:'girl', class:'4' },
                {id:'002',name:'Alexia Lee', gender:'girl',class:'4'},
                {id:'003',name:'Tom Bilett', gender:'boy',class:'1'},
                {id:'004',name:'Christian Meylor', gender:'boy',class:'1'},
                {id:'005',name:'Christian Meylor', gender:'boy',class:'2'},
                {id:'006',name:'John Lee', gender:'boy',class:'2'},

            ],
//add students-mockdata, in order to search with nickname and lastname
            students:[
                {id:'001',nickname:' ', lastname:'Benth',firstname:'Lily', gender:'girl', class:'4' },
                {id:'002',nickname:'Alex', lastname:'Lee',firstname:'Alexia', gender:'girl',class:'4'},
                {id:'003',nickname:' ', lastname:'Bilett',firstname:'Tom', gender:'boy',class:'1'},
                {id:'004',nickname:'Chris', lastname:'Meylor',firstname:'Christian', gender:'boy',class:'1'},
                {id:'005',nickname:'Mei', lastname:'Meylor',firstname:'Christian', gender:'boy',class:'2'},
                {id:'006',nickname:'John', lastname:'Lee',firstname:'John', gender:'boy',class:'2'},
            ],

            keyword:'',
            Searchword:'',
            keywordCase:'',
            classname:'',
            genderinfo:''
        },
        computed:{
//Search with Name,keyword inside the name:FilPersonsName             
            FilPersonsName(){
                return this.persons.filter(
                    (person)=>{
                        return person.name.indexOf(this.keyword) !== -1

                })
            },
//Search with first name, only show same first Letter, not case sensitive:FilPersonsNameInit
            FilPersonsNameInit(){
                return this.persons.filter(
                    (person)=>{
                        return person.name.toLowerCase().indexOf(this.keywordCase.toLowerCase()) === 0

                })
            },
//Search with first name or last name or nickname, not case sensitive:FilStudentsAllName           
            FilStudentsAllName(){
                return this.students.filter(
                    (student)=>{
                        if (student.firstname.toLowerCase().indexOf(this.Searchword.toLowerCase()) === 0)
                        return student.firstname.toLowerCase().indexOf(this.Searchword.toLowerCase()) === 0
                        else if (student.lastname.toLowerCase().indexOf(this.Searchword.toLowerCase()) === 0)
                        return student.lastname.toLowerCase().indexOf(this.Searchword.toLowerCase()) === 0
                        else if (student.nickname.toLowerCase().indexOf(this.Searchword.toLowerCase()) === 0)
                        return student.nickname.toLowerCase().indexOf(this.Searchword.toLowerCase()) === 0
                })
            },
//Search with class:FilPersonsClass
            FilPersonsClass(){
                return this.persons.filter(
                    (person)=>{
                        return person.class.indexOf(this.classname)!== -1
                })
            },
//Search with gender:FilPersonsGender
            FilPersonsGender(){
                return this.persons.filter(
                    (person)=>{
                        return person.gender.indexOf(this.genderinfo)!== -1
                })
            }
        }
    }) 
</script>
</html>